.container {
  position: relative;
  max-width: 1032px;
  border-radius: 15px;
  background-color: #fff;
  margin: 0 auto;
  z-index: 5;
  box-shadow: 0px 15px 25px 0px rgba(0, 0, 0, 0.1);
}

.page__header {
  position: relative;
  background-color: #2eca7f;
  padding: 50px;
  margin-bottom: 25px;
  background-image: url(./assets/img/main_bg.png);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  border-radius: 15px 15px 0 0;
}

.page__content {
  padding-top: 20px;
  padding: 30px 50px 50px;
}