#Blog {
  display: none;
}
#Blog .page__header {
  padding: 30px 50px;
  margin-bottom: 0;
}
#Blog .page__header h2 {
  color: #fff;
  font-size: 44px;
  font-weight: 600;
  line-height: 1.5em;
  margin: 0;
  text-align: center;
}
#Blog .page__content {
  padding: 30px 50px 50px;
}