header nav ul li a {
  display: block;
  position: relative;
  padding: 8px 0;
  margin: 0 20px;
  text-align: center;
  color: #49515d;
  font-size: 15px;
  line-height: 1;
  font-weight: 400;
  position: relative;
  text-decoration: none;
  outline: none;
  opacity: 0.6;
}
header nav ul li a:after {
  display: block;
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  border-bottom: 2px solid;
  content: "";
  width: 0;
  height: 2px;
  margin: auto;
  color: #2eca7f;
  transition: all 0.15s ease-in-out;
}
header nav ul li a:link {
  text-decoration: none;
  color: #49515d;
}
header nav ul li a:visited {
  text-decoration: none;
  color: #49515d;
}
header nav ul li a:hover {
  cursor: pointer;
  text-decoration: none;
  color: #49515d;
}
header nav ul li a:hover:after {
  width: 25px;
}